body{
    background-image: url(https://cdn.pixabay.com/photo/2016/01/27/15/25/space-1164579_1280.png);
    font-family: 'Signika Negative', sans-serif;
}

img{
    display: block;
    margin-left: auto;
    margin-right: auto;
    height: 200px;
    width: auto;
}

h1{
    text-align: center;
    color: yellow;

}
h2{
    text-align: center;
    color: white;
}
h3{
    text-align: center;
    color: blue;
    
}
.solder{
    border-color: rgb(243, 218, 218);
    border-width: 10px;
    border-style: dotted;
    letter-spacing: 3px;
    text-align: center;
    background-color: red;
    
    
}


.malos{
    text-align: center;
    background-color: red;
   
    
}

.buenos{
    text-align: center;
    background-color: blue;
    
}

#vader{
    font-size: 300%;
}
#luke{
    font-style: oblique
}
.apoyo{
    text-align: center;
    background-color: red;
}
ul{
    list-style-type: none;
}
.mayuscula{
    text-transform: uppercase;
}


